# Exclude all .bet files
*.bet

# Ignore Visual Studio Code settings
.vscode/

# Ignore build output directories
bin/
obj/

# Ignore user-specific files
*.user
*.suo

# Ignore logs
*.log

# Ignore temporary files
*.tmp
*.temp

# Ignore system files
.DS_Store
Thumbs.db

# Ignore package managers
node_modules/
packages/

# Ignore environment files
.env
.env.*
/.vs/BubberDinner
